.ReactSelectBox3-container {
  position: relative;
  width: 240px;
  display: inline-block;
  background-color: #fff;
  border-radius: 4px;
  text-align: left;
  box-shadow: 0 0 2px rgba(0, 0, 0, .3);
}

.ReactSelectBox3 {
  padding: 15px 0;
  display: inline-block;
  cursor: pointer;
  border: none;
  width: 100%;
  text-align: left;
  background-color: transparent;
}

.ReactSelectBox3:focus,
.ReactSelectBox3--focus {
  border-radius: 4px;
  -moz-outline: none;
  outline: none;
  -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
  -moz-box-shadow: 0px 0px 3px 2px #0099E0;
  box-shadow: 0px 0px 2px 3px #0099E0;
}

.ReactSelectBox3:before {
  content: ' ';
  z-index: 1;
  position: absolute;
  height: 20px;
  top: 15px;
  right: 34px;
  border-left: 1px solid #CBD2D7;
}

.ReactSelectBox3--collapsed::after {
  content: ' ';
  position: absolute;
  z-index: 1;
  top: 23px;
  right: 13px;
  border-top: 6px solid #7B8E9B;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.ReactSelectBox3--expanded::after {
  content: ' ';
  position: absolute;
  z-index: 1;
  top: 23px;
  right: 13px;
  border-bottom: 6px solid #7B8E9B;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}


.ReactSelectBox3-label,
.ReactSelectBox3-option {
  line-height: 16px;
  font-size: 12px;
  font-weight: bold;
  color: #7B8E9B;
}

.ReactSelectBox3-label {
  padding: 0 40px 0 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #0493D1;
}

.ReactSelectBox3-option:focus {
  outline: none;
}

.ReactSelectBox3-empty .ReactSelectBox3-label {
  color: #7B8E9B;
}

.ReactSelectBox3-click-outside-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.ReactSelectBox3-clear {
  position: absolute;
  top: 15px;
  right: 0;
  width: 35px;
  height: 20px;
  background-color: #fff;
  text-indent: -9999em;
  z-index: 3;
  border: none;

}
.ReactSelectBox3-clear:before {
  content: '×';
  position: absolute;
  top: 2px;
  left: 10px;
  z-index: 1;
  background-color: #7B8E9B;
  border-radius: 100%;
  font-size: 13px;
  color: #fff;
  line-height: 1;
  width: 15px;
  height: 15px;
  text-indent: 0;
  text-align: center;
}

.ReactSelectBox3-clear:hover {
  outline: 0;
}

.ReactSelectBox3-clear:hover:before,
.ReactSelectBox3-clear:focus:before {
  background-color: #0493D1;
}

.ReactSelectBox3-hidden {
  display: none
}

.ReactSelectBox3-options {
  margin: 2px 0 0;
  position: absolute;
  padding: 10px 0;
  width: 240px;
  top: 100%;
  left: 0;
  z-index: 4;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, .3);
}

.ReactSelectBox3-options-list {
  list-style: none outside;
  margin: 0;
  padding: 0;
}

.ReactSelectBox3-option {
  padding: 10px 20px;
  margin: 0;
  cursor: pointer;
  display: block;
  line-height: 1.2;
  text-decoration: none;
}

.ReactSelectBox3-option:hover {
  color: #0493D1;
  background-color: #f4f4f4;
}

.ReactSelectBox3-option-selected {
  color: #CBD2D7;
}

.ReactSelectBox3-multi .ReactSelectBox3-option {
  padding-left: 42px;
  position: relative;
}

.ReactSelectBox3-multi .ReactSelectBox3-option:before {
  content: ' ';
  position: absolute;
  line-height: 1;
  text-align: center;
  left: 20px;
  top: 9px;
  border-radius: 3px;
  height: 12px;
  width: 12px;
  margin-right: 10px;
  border: 1px solid #7B8E9B;
  background: #f9f9f9;
  vertical-align: middle;
}

.ReactSelectBox3-multi .ReactSelectBox3-option-selected:before {
  content: '✓';
}


.ReactSelectBox3-multi .ReactSelectBox3-option-selected {
  color: #1F3344;
}

/* .ReactSelectBox3-option:focus, */
.ReactSelectBox3-option-focused {
  color: #0493D1;
  outline: 0;
  background-color: #DDE2E5;
}

.ReactSelectBox3-close {
  color: #0493D1;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  padding: 5px 0;
  display: block;
  text-align: center;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.ReactSelectBox3-close:hover,
.ReactSelectBox3-close:focus {
  text-decoration: underline;
}

.ReactSelectBox3-empty .ReactSelectBox3-close {
  color: #CBD2D7;
}

/* dev */
.ReactSelectBox3-native-inputs {
  position: absolute;
  left: -99999em;
}


